.Slideshow {
  width: 100vw;
  height: 100vh;
}

.Slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.5s opacity;
}

.Slideshow img.active {
  opacity: 1;
}
